body{
    background-color: #393E46;
    color: #4ECCA3;
}

h1{
    font-family: 'Lobster', cursive;
    font-size: 5rem;
    margin: 30px;
}

h4{
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
    margin: 20px;
}

img{
    width: 60%;
}

.instructions{
    width: 70%;
    margin: auto;
    text-align: center;
}

.dice-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dice{
    margin: 30px;
    text-align: center;
}

footer{
    font-family: 'Indie Flower', cursive;
    text-align: center;
    margin-top: 30px;
    font-weight: 600;

}

button{
    width: 150px;
    height: 50px;
    background-color: black;
    color: #4ECCA3;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Lobster', cursive;
}

button:hover{
    background-color:#4ECCA3;
    color: #393E46;
}

